body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center the game board in the viewport */
}

#gameboard {
    background-color: #ffffff;
    border-width: 2px;
}