body {
    background-color: #f5f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Center the game board in the viewport */
}

#gameBoard {
    background-color: #d9dcfd;
    border: 3px solid black;
}

#gameBoardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
